* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: "Helvetica Neue", Helvetica, Arial;
    display: flex;
    flex-direction: column;
}

body > div {
    margin: auto;
}

.btn {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: #fff;
    min-width: 120px;
    text-align: center;
    padding: 12px 48px;
    border-radius: 50px;
    cursor: pointer;
    transition: opacity ease-in 0.2s;
}

.btn + .btn {
    margin-left: 16px;
}

.btn:hover {
    opacity: 0.8;
}

.btn--size-s {
    padding: 8px 32px;
}

.btn--size-l {
    padding: 16px 56px;
}

.btn--success {
    background-color: #71be34;
}

.btn--warning {
    background-color: #ffb702;
}

.btn--danger {
    background-color: #ff623d;
}

.btn--info {
    background-color: #2f86eb;
}

.btn--disable {
    opacity: 0.5 !important;
    pointer-events: none;
}